<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">   
</head> 
<body>
    <div class="main-container">
        <header>
            <h1>Bienvenido al Club de Actividades</h1>
            <p class="tagline">Plataforma para descubrir y reportar actividades de la comunidad.</p>
        </header>
        
        <main class="dashboard-links">
            <section class="intro-text">
                <p>Gestiona los miembros de la comunidad, reporta nuevas actividades y consulta metricas en tiempo real.</p>
            </section>

            <div class="menu-principal">
                <a href ="{{ url_for('registro_miembros') }}" class="btn-home">Registrar nuevo miembro</a>
                <a href="{{ url_for('lista_miembros') }}" class="btn-home">Ver lista de miembros</a>
                <a href="{{ url_for('informar_actividad') }}" class="btn-home">Reportar nueva actividad</a>
                <a href="{{ url_for('consulta_metricas') }}" class="btn-home">Consultar métricas</a>
            </div>
        </main>
    </div>
</body>

</html>
